body {
    font-family: 'Outfit', sans-serif;
    background: rgb(13, 25, 43);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    height: 600px;
    width: 330px;
    background: rgb(20, 37, 61);
    border-radius: 10px;
    color: hsl(215, 51%, 70%);
}

.card-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    position: relative;
}

.card-top div {
    height: 90%;
    width: 90%;
    background: rgba(0, 255, 247, 50%);
    border-radius: 10px;
    position: absolute;
    transition: ease-in-out 0.2s;
    opacity: 0
}

#eye-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    ;
}   

.card-top div:hover {
    opacity: 1;
    cursor:pointer;
}

#nft-image {
    height: 90%;
    width: 90%;
    border-radius: 10px;
}

.card-bottom {
    display: flex;
    height: 180px;
    width: 330;
    padding: 0px 30px;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: flex-start;
}

.card-footer {
    display: flex;
    height: 60px;
    width: 270px;
    margin: 15px 30px;
    align-items: center;
    border-top: 1px solid rgb(47, 65, 91);
    padding-top: 5px;
}

#avatar-image {
    height: 32px;
    border: 1px solid white;
    border-radius: 360px;
}

#title {
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
    transition: ease-in-out 0.1s;
}

#title:hover {
    color: rgb(0, 255, 247);
}

#description {
    font-weight: 300;
}

.information {
    display: flex;
    align-items: center;
}

#price {
    color: rgb(0, 255, 247);
    margin-left: 10px;
    margin-right: 75px;
}

#time-left {
    margin-left: 10px;
}

.card-footer span {
    display: flex;
    align-items: center;
}

#author {
    margin-left: 10px;
    font-weight: 300;
}

#author-name {
    color: #fff; 
    font-weight: 400;
    transition: ease-in-out 0.1s;
}

#author-name:hover {
    color: rgb(0, 255, 247);
} 

a {
    text-decoration: none;
}

.attribution {
    margin-top: 10px;
    font-size: 12px;
    color: rgb(151, 151, 151);
}